@import '../../styles/screens.scss';
.accountMenuContainer {
	background-color: white;
	width: 8em;

	.accountMenuButton {
		max-width: 100%;
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.accountMenuPanel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: white;
		border: 1px solid gainsboro;
		border-radius: 0.25rem;
		margin: 0.5rem 0;
		padding: 0.5rem 2.5rem;
		gap: 0.3rem;

		li {
			list-style: none;
			margin: 0;
			padding: 0;
			a {
				color: black;
				&.newWorkspaceLink {
					color: red;
				}
			}
		}
	}
}

@include tablet() {
	.accountMenuContainer {
		.accountMenuButton {
			position: relative;
		}
		.accountMenuPanel {
			position: absolute;
			right: 0;
		}
	}
}
