@import '../styles//colors.scss';
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 'Helvetica', 'Tahoma', 'Verdana';
	font-size: 16px;
	background-color: $color-background;
	display: flex;
	flex-direction: column;
	color: $color-text;
}
