@import '../styles//colors.scss';
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 'Helvetica', 'Tahoma', 'Verdana';
	font-size: 16px;
	background-color: $color-background;
	display: flex;
	flex-direction: column;
	color: $color-text;
}

input {
	border-radius: 0.25rem;
	border: 1px solid gainsboro;
	padding: 0.5rem;
}

button {
	border-radius: 0.25rem;
	border: none;
	padding: 0.5rem;
	background-color: $color-secondary;
	color: white;
	cursor: pointer;

	&:hover {
		background-color: darken($color: $color-secondary, $amount: 5);
	}
}

a {
	color: $color-secondary;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
