@import '../../styles/screens.scss';
@import '../../styles//colors.scss';
.header {
	background-color: white;
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: space-between;
	padding: 0.25rem 1rem;
	top: 0;
	max-width: 100%;

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
/* Logo */
.logo {
	display: inline-block;

	color: $color-primary;
	font-size: 2rem;
	font-weight: 700;
	transition: text-shadow 0.1s ease;
	&:hover {
		cursor: pointer;

		@include tablet() {
			text-shadow: 0 2px 1px darken($color: $color-primary, $amount: 10);
			color: lighten($color: $color-primary, $amount: 5);
		}
	}
}

.navbarSwitch {
	color: $color-text;
	font-size: 1.5rem;
}
.navbarMobile {
	display: none;
	background-color: white;

	ul {
		list-style: none;
		margin: 0;

		a {
			color: $color-text;
			text-decoration: none;
		}
	}
}
.navbar {
	display: none;
}

.navbarOpen {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	color: $color-text;
}

@include tablet() {
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.navbar {
		background-color: white;
		color: $color-text;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		> ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-right: 10px;
			gap: 10px;
			list-style: none;
			margin: 0;
			a {
				color: $color-text;
				text-decoration: none;
			}
		}
		button {
			display: none;
		}
	}

	.logo {
		margin-left: 0;
	}
	.navbarSwitch {
		display: none;
	}
}
