@import '../../styles/screens.scss';
@import '../../styles/colors.scss';
.selectorContainer {
	.selectorButton {
		max-width: 100%;
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.selectionPanel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: white;
		border: 1px solid gainsboro;
		border-radius: 0.25rem;
		padding: 0rem 0;
		margin: 0.5rem 1rem;

		.loader {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 1rem 0;
		}
		// Button to create a new workspace
		.newWorkspaceButton {
			display: block;
			text-align: center;
			color: white;
			background-color: $color-secondary;

			border-radius: 0 0 0.25rem 0.25rem;
			padding: 0.5rem 1rem;
			font-size: 0.85rem;
			&:hover {
				background-color: darken($color-secondary, 5%);
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			margin: 0.5rem 0;
			padding: 0;
			gap: 0.5rem;
			li {
				list-style: none;
				margin: 0;

				a {
					color: $color-text;
					padding: 0 1.5rem;
				}
			}
		}
	}
}

@include tablet() {
	.selectorContainer {
		.selectorButton {
			position: relative;
		}
		.selectionPanel {
			position: absolute;
			right: 1.5rem;
		}
	}
}
