@import '../../styles/screens.scss';
@import '../../styles/colors.scss';
.selectorContainer {
	.selectorButton {
		max-width: 100%;
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.selectionPanel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: white;
		border: 1px solid gainsboro;
		border-radius: 0.25rem;
		padding: 0.5rem 0;
		margin: 0.5rem 1rem;
		gap: 0.3rem;

		li {
			list-style: none;
			margin: 0;

			a {
				color: $color-text;
				padding: 0 1.5rem;
				&.newWorkspaceLink {
					display: block;
					color: white;
					background-color: $color-secondary;
					width: 100%;
					padding: 0 0rem;
				}
			}
		}
	}
}

@include tablet() {
	.selectorContainer {
		.selectorButton {
			position: relative;
		}
		.selectionPanel {
			position: absolute;
			right: 1.5rem;
		}
	}
}
